body{
    background-color: #55c7d7;
}

table {
    position: relative;
    background: #55c7d7; /* Цвет фона таблицы */
    border: 5px double #000; /* Рамка вокруг таблицы */
    margin: 30px;
}
td, th {
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #fff; /* Рамка вокруг ячеек */
}
table tbody tr td:hover {
    background: #55c7d7;
    transition-duration: 0.2s;
}

.button_getAll input[type="submit"]{
    background: rgba(85, 199, 215, 0.93);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #191919;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    position: relative;
}
.button_getAll input[type="submit"]:hover{
    color: #0d4375;
    background: #1f8bf0;
    box-shadow: 0 0 10px #1f8bf0, 0 0 40px #1f8bf0, 0 0 80px #1f8bf0;
    border: 2px solid #191919;
}

a.back{
    position: relative;
    color: white;
    background-color: black;
}

a.back:hover{
    color: #2d3205;
    background: #55c7d7;
    box-shadow: 0 0 10px #55c7d7, 0 0 40px #55c7d7, 0 0 80px #55c7d7;
}

header{
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
}

p{
    position: absolute;
    display: block;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}