<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>by.epam.javaweb.bartoshik.library.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/authorizeLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>by.epam.javaweb.bartoshik.library.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>by.epam.javaweb.bartoshik.library.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>by.epam.javaweb.bartoshik.library.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReturnServlet</servlet-name>
        <servlet-class>by.epam.javaweb.bartoshik.library.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReturnServlet</servlet-name>
        <url-pattern>/returnBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>by.epam.javaweb.bartoshik.library.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/language</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAllServlet</servlet-name>
        <servlet-class>by.epam.javaweb.bartoshik.library.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllServlet</servlet-name>
        <url-pattern>/getAllBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TakeServlet</servlet-name>
        <servlet-class>by.epam.javaweb.bartoshik.library.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TakeServlet</servlet-name>
        <url-pattern>/takeBook</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Encoder</filter-name>
        <filter-class>by.epam.javaweb.bartoshik.library.controller.filter.Encoder</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Encoder</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>